.hero-banner{
  position: absolute;
  left: 840px;
  top: 0px;
  margin-top: -330px;
  width: 600px;
  height: 400px;
}

ScrollMenu{
  display: flex;
  overflow-x: auto;
}
.right-arrow{
  width: 40px;
  height: 40px;
}

.left-arrow{
  width: 40px;
  height: 40px;
}